/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(/src/assets/font/OpenSans-Regular.ttf);
  }
  html,body{
    font-family: 'OpenSans-Regular' !important;
  }