<app-header></app-header>
<section class="banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 px-0">
                <div class="banner-top-left"></div>
                <div class="banner-top-middle-left"></div>
                <div class="banner-top-middle-right"></div>
                <div class="banner-top-right"></div>
                <div class="banner-middle-left"></div>
                <div class="banner-left"></div>
                <div class="banner-middle"></div>
                <div class="banner-right"></div>
                <div class="banner-bottom-left"></div>
                <div class="banner-bottom-middle"></div>
                <div class="banner-bottom-right">

                </div>
            </div>
            <div class="col-lg-6">
                <h2> Find the job the fits for your life</h2>
                <h5>You can search, Earn and Refer here by Signing Up</h5>
                
            </div>
        </div>
       
    </div>
    
</section>
<section class="main-content">
    <div class="container-fluid">
        <div class="row pt-5">
            <div class="col-lg-6 my-auto">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <h1>The Top Key Benefits of TrewLink</h1>
                        <h5>something that improves or promotes. advantage or sakethis is for your benefit.</h5>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-6">
<img src=".\assets\images\undraw_percentages_0rur.svg" class="bg-1 w-100"> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 px-lg-0">
<img src=".\assets\images\Mask Group 15.svg" class="bg-2">
            </div>
            <div class="col-lg-6 my-auto">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 ">
                        <h1>Job Offers</h1>
                        <h5>A job offer letter is used to formally offer a position to a candidate, and provide important information A job offer letter is used to formally offer a position to a candidate.</h5>
                        <h5>Provide important information A job offer letter is used to formally offer a position to a candidate. A job offer letter is used to formally offer a position to a candidate.</h5>
                    </div>
                </div>
               
            </div>
           
        </div>

        <div class="row">
           
            <div class="col-lg-6  my-auto">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <h1>Referral</h1>
                        <h5>A job offer letter is used to formally offer a position to a candidate, and provide important information A job offer letter is used to formally offer a position to a candidate. A job offer letter is used to formally offer a position to a candidate, and provide important information A job offer letter is used to formally offer a position to a candidate.</h5>
                        <h5>A job offer letter is used to formally offer a position to a candidate.</h5>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-6 px-lg-0">
                <img src=".\assets\images\Mask Group 14.svg" class="bg-2">
                            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 px-lg-0">
                <img src=".\assets\images\Mask Group 13.svg" class="bg-2">
                            </div>
            <div class="col-lg-6  my-auto">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <h1>Earnings</h1>
                        <h5>A job offer letter is used to formally offer a position to a candidate, and provide important information A job offer letter is used to formally </h5>
                        <h5>A job offer letter is used to formally offer a position to a candidate, and provide important information A job offer letter is used to formally offer a position to a candidate. A job offer letter is used to formally offer a position to a candidate, and provide important information A job offer letter is used to formally offer a position to a candidate.</h5>
                    </div>
                </div>
               
            </div>
            
        </div>

        <div class="row">
           
            <div class="col-lg-6  my-auto">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <h1>Group Chat</h1>
                        <h5>A job offer letter is used to formally offer a position to a candidate, and provide important information A job offer letter is used to formally </h5>
                        <h5>A job offer letter is used to formally offer a position to a candidate, and provide important information A job offer letter is used to formally offer a position to a candidate. A job offer letter is used to formally offer a position to a candidate, and provide important information A job offer letter is used to formally offer a position to a candidate.</h5>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-6 px-lg-0">
                <img src=".\assets\images\Mask Group 12.svg" class="bg-2">
                            </div>
            
        </div>
    </div>
    
</section>
<section class="search">
    <div class="container-fluid">
        <div class="row py-5">
            <div class="col-lg-6 py-5">
                 <div class="row">
                     <div class="col-lg-4 offset-lg-3 py-5 ">
    <h1 class="text-white">Jobs you'd Love to go to</h1>
                     </div>
                 </div>
            </div>
            <div class="col-lg-6  my-auto">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search Your Favorite Job">
                          </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    
    
</section>
<section class="how-it-works">
    <div class="container pb-5">
        <div class="row pt-5">
            <div class="col-12 text-center">
<h1>How it Works?</h1>
<h5>something that improves or promotes. advantage</h5>
            </div>
        </div>
        <div class="row justify-content-center pb-5">
            <div class="col-lg-4 text-center">
              <img src=".\assets\images\Group 789.svg" class="bg-2">
              <h3>Step 1</h3>
              <div class="row justify-content-center">
                  <div class="col-lg-8 ">
                    <p>A job offer letter is used to formally offer a position to a candidate</p>

                  </div>                                                                
              </div>
            </div>
            <div class="col-lg-4 text-center">
                <img src=".\assets\images\Group 787.svg" class="bg-3">
                <h3>Step 2</h3>
                <div class="row justify-content-center">
                    <div class="col-lg-8 ">
                      <p>A job offer letter is used to formally offer a position to a candidate</p>
  
                    </div>                                                                
                </div>
            </div>
            <div class="col-lg-4 text-center">
                <img src=".\assets\images\Group 788.svg" class="bg-3">
                <h3>Step 3</h3>
                <div class="row justify-content-center">
                    <div class="col-lg-8 ">
                      <p>A job offer letter is used to formally offer a position to a candidate</p>
  
                    </div>                                                                
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>