.banner{
background:transparent url("/assets/images/adult-brewery-equipment-1267348.png");

height: 890px;
background-size: cover;
background-repeat: no-repeat;
width: 100%;
}
.banner-top-left{
    position: absolute;
    top: 0;
    left: 0px;
width: 261px;
height: 246px;
background: transparent url("/assets/images/adult-brainstorming-businesswoman-515169.png") 0% 0% no-repeat padding-box;

}
.banner-top-middle-left{
    position: absolute;
    top: 0;
    left: 261px;
width: 141px;
height: 132px;
background: transparent url("/assets/images/beautiful-business-business-executive-2381069.png") no-repeat;

}
.banner-top-middle-right{
    position: absolute;
    top: 132px;
    left: 402px;
width: 119px;
height: 114px;
background: transparent url('/assets/images/apple-blogging-coder-36990.png') no-repeat ;

}
.banner-top-right{
    position: absolute;
    top: 0;
    left: 521px;
width: 262px;
height: 246px;
background: transparent url('/assets/images/business-executive-conducting-job-interview-with-VXLCB8H.png') no-repeat;

}
.banner-middle-left{
    top: 324px;
    position: absolute;
left: 61px;
width: 140px;
height: 131px;
background: transparent url('/assets/images/adult-architect-architectural-design-1260309.png')  no-repeat;

}
.banner-left{
    top: 554px;
    position: absolute;
left: 0px;
width: 140px;
height: 133px;
background: transparent url('/assets/images/chef-coffee-cook-887827.png')  no-repeat ;

}
.banner-middle{
    top: 530px;
    position: absolute;
left: 189px;
width: 120px;
height: 115px;
background: transparent url('/assets/images/doctor-explaining-diagnosis-to-her-female-patient-J9MRXAH.png') no-repeat;

}
.banner-right{
    top: 587px;
    position: absolute;
left: 621px;
width: 162px;
height: 152px;
background: transparent url('/assets/images/adult-businessman-contemporary-937481.png')  no-repeat;
opacity: 1;
}
.banner-bottom-left{
    top: 757px;
    position: absolute;
left: 0px;
width: 140px;
height: 133px;
background: transparent url('/assets/images/art-artist-beautiful-933255.png')  no-repeat;
opacity: 1;
}
.banner-bottom-middle{
    position: absolute;
    top: 681px;
left: 140px;
width: 218px;
height: 209px;
background: transparent url('/assets/images/smiling-african-american-businesswoman-having-job-PGK7EXM.png')  no-repeat;
opacity: 1;
}
.banner-bottom-right{
    position: absolute;
    top: 785px;
left: 358px;
width: 184px;
height: 105px;
background: transparent url('/assets/images/waiting-for-a-job-interview-PD95Y9W.png') no-repeat ;
opacity: 1;
}
.bg-1{
   
    
    height: 80%;
}
.bg-2{
  
    width:100%;
    height: 100%;
}
.bg-3{
    width: 86%;
    height: 100%;
}
.search{
    background:  url('/assets/images/Group 786.png') no-repeat ;
    width: 100%;
   
    .form-control{
        border-radius: 20px;
        font-size:20px;
    }
}